In [153]:
import pandas as pd
import numpy as np
import matplotlib as plot

In [154]:
cars = pd.read_excel("D:\Python_DataScience\Data_Sets\Participants_Data_Used_Cars\Participants_Data_Used_Cars\Data_Train.xlsx")

In [155]:
cars.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74

In [157]:
cars[['Mil', 'Mil_scl']] = cars.Mileage.str.split(' ',expand = True)
cars[['Eng', 'Eng_scl']] = cars.Engine.str.split(' ',expand = True)
cars[['Pwr', 'Pwr_scl']] = cars.Power.str.split(' ',expand = True)

In [158]:
cars[cars['Pwr']=="null"] = 0

In [161]:
cars['Mil'] = cars.Mil.astype(float)
cars['Eng'] = cars.Eng.astype(float)
cars['Pwr'] = cars.Pwr.astype(float)

In [162]:
cars.describe()

,Year,Kilometers_Driven,Seats,Price,Mil,Eng,Pwr
count,6019.000000,6.019000e+03,5981.000000,6019.000000,6017.000000,5983.000000,5983.000000
mean,1977.657418,5.733987e+04,5.189099,9.414527,17.907972,1596.396289,111.227632
std,266.098512,9.140399e+04,1.061577,11.205202,5.010307,634.101773,55.460923
min,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2011.000000,3.242950e+04,5.000000,3.480000,15.100000,1197.000000,74.000000
50%,2014.000000,5.200000e+04,5.000000,5.600000,18.120000,1493.000000,92.700000
75%,2016.000000,7.200000e+04,5.000000,9.950000,21.100000,1968.000000,138.100000
max,2019.000000,6.500000e+06,10.000000,160.000000,33.540000,5998.000000,560.000000

In [115]:
cars.dtypes

Name                  object
Location              object
Year                   int64
Kilometers_Driven      int64
Fuel_Type             object
Transmission          object
Owner_Type            object
Mileage               object
Engine                object
Power                 object
Seats                float64
New_Price             object
Price                float64
Mil                   object
Mil_scl               object
Eng                   object
Eng_scl               object
Pwr                   object
Pwr_scl               object
dtype: object

In [ ]:
y = cars.infer_objects()

In [ ]:
x = cars.groupby(["Pwr"]).count()

In [ ]:
cars.info()

In [ ]:
cars.isna().sum()

In [ ]:
cars[cars.Mil.isnull()]

In [ ]:
cars.update(cars[['Mil','Eng','Pwr']].fillna(0)) # if inplace = True then the values will not reflect in the data frame

In [151]:
cars.isna().sum()

Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5088
Price                   0
Mil                   109
Mil_scl               109
Eng                     0
Eng_scl                36
Pwr                     0
Pwr_scl                36
Brand                 107
Model                 107
dtype: int64

In [ ]:
cars.isna().sum()

In [152]:
cars[cars.Brand.isnull()]

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,...,New_Price,Price,Mil,Mil_scl,Eng,Eng_scl,Pwr,Pwr_scl,Brand,Model
76,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
79,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
89,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
120,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
143,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
227,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
245,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
262,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
307,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
308,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
386,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
424,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
428,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
443,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
472,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
575,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
631,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
647,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
648,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
739,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
748,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
829,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
915,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
926,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
934,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
1068,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
1143,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
1153,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
1271,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
1319,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3999,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
4077,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
4080,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
4351,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
4354,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
4629,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
4709,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
4714,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
4744,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
4830,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
4886,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
4900,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
4954,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
5065,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
5119,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
5228,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
5426,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
5438,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
5458,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
5529,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
5533,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
5647,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
5755,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
5759,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
5861,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
5873,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
5893,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
5925,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
5943,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN
5985,0,0,0,0,0,0,0,0,0,0,...,0,0.0,NaN,NaN,0,0,0.0,0,NaN,NaN

In [ ]:
cars.replace(to_replace = " null ", value = 0)

In [ ]:
cars[cars['Pwr']=="null"] = 0

In [ ]:
cars['Pwr'].value_counts()

In [118]:
x = cars[['Mil','Eng','Pwr']].apply(pd.to_numeric)
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 3 columns):
Mil    6019 non-null float64
Eng    6019 non-null int64
Pwr    6019 non-null float64
dtypes: float64(2), int64(1)
memory usage: 141.1 KB

In [121]:
cars['Mil'] = cars.Mil.astype(float)
cars['Eng'] = cars.Eng.astype(int)
cars['Pwr'] = cars.Pwr.astype(float)

In [122]:
cars.describe()

,Year,Kilometers_Driven,Seats,Price,Mil,Eng,Pwr
count,6019.000000,6.019000e+03,5981.000000,6019.000000,6019.000000,6019.000000,6019.000000
mean,1977.657418,5.733987e+04,5.189099,9.414527,17.902022,1586.848148,110.562372
std,266.098512,9.140399e+04,1.061577,11.205202,5.020097,644.075875,55.956041
min,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2011.000000,3.242950e+04,5.000000,3.480000,15.100000,1197.000000,74.000000
50%,2014.000000,5.200000e+04,5.000000,5.600000,18.120000,1461.000000,91.100000
75%,2016.000000,7.200000e+04,5.000000,9.950000,21.100000,1968.000000,138.030000
max,2019.000000,6.500000e+06,10.000000,160.000000,33.540000,5998.000000,560.000000

In [123]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 19 columns):
Name                 6019 non-null object
Location             6019 non-null object
Year                 6019 non-null int64
Kilometers_Driven    6019 non-null int64
Fuel_Type            6019 non-null object
Transmission         6019 non-null object
Owner_Type           6019 non-null object
Mileage              6017 non-null object
Engine               5983 non-null object
Power                5983 non-null object
Seats                5981 non-null float64
New_Price            931 non-null object
Price                6019 non-null float64
Mil                  6019 non-null float64
Mil_scl              6017 non-null object
Eng                  6019 non-null int32
Eng_scl              5983 non-null object
Pwr                  6019 non-null float64
Pwr_scl              5983 non-null object
dtypes: float64(4), int32(1), int64(2), object(12)
memory usage: 587.8+ KB

In [125]:
cars.head(100)

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Mil,Mil_scl,Eng,Eng_scl,Pwr,Pwr_scl
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75,26.60,km/kg,998,CC,58.16,bhp
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50,19.67,kmpl,1582,CC,126.20,bhp
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50,18.20,kmpl,1199,CC,88.70,bhp
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00,20.77,kmpl,1248,CC,88.76,bhp
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74,15.20,kmpl,1968,CC,140.80,bhp
5,Hyundai EON LPG Era Plus Option,Hyderabad,2012,75000,LPG,Manual,First,21.1 km/kg,814 CC,55.2 bhp,5.0,NaN,2.35,21.10,km/kg,814,CC,55.20,bhp
6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50,23.08,kmpl,1461,CC,63.10,bhp
7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50,11.36,kmpl,2755,CC,171.50,bhp
8,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN,5.20,20.54,kmpl,1598,CC,103.60,bhp
9,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,Diesel,Manual,Second,22.3 kmpl,1248 CC,74 bhp,5.0,NaN,1.95,22.30,kmpl,1248,CC,74.00,bhp
10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65 Lakh,9.95,21.56,kmpl,1462,CC,103.25,bhp
11,Honda City 1.5 V AT Sunroof,Kolkata,2012,60000,Petrol,Automatic,First,16.8 kmpl,1497 CC,116.3 bhp,5.0,NaN,4.49,16.80,kmpl,1497,CC,116.30,bhp
12,Maruti Swift VDI BSIV,Jaipur,2015,64424,Diesel,Manual,First,25.2 kmpl,1248 CC,74 bhp,5.0,NaN,5.60,25.20,kmpl,1248,CC,74.00,bhp
13,Land Rover Range Rover 2.2L Pure,Delhi,2014,72000,Diesel,Automatic,First,12.7 kmpl,2179 CC,187.7 bhp,5.0,NaN,27.00,12.70,kmpl,2179,CC,187.70,bhp
14,Land Rover Freelander 2 TD4 SE,Pune,2012,85000,Diesel,Automatic,Second,0.0 kmpl,2179 CC,115 bhp,5.0,NaN,17.50,0.00,kmpl,2179,CC,115.00,bhp
15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,Diesel,Manual,First,13.5 kmpl,2477 CC,175.56 bhp,7.0,32.01 Lakh,15.00,13.50,kmpl,2477,CC,175.56,bhp
16,Honda Amaze S i-Dtech,Kochi,2016,58950,Diesel,Manual,First,25.8 kmpl,1498 CC,98.6 bhp,5.0,NaN,5.40,25.80,kmpl,1498,CC,98.60,bhp
17,Maruti Swift DDiS VDI,Jaipur,2017,25000,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,NaN,5.99,28.40,kmpl,1248,CC,74.00,bhp
18,Renault Duster 85PS Diesel RxL Plus,Kochi,2014,77469,Diesel,Manual,First,20.45 kmpl,1461 CC,83.8 bhp,5.0,NaN,6.34,20.45,kmpl,1461,CC,83.80,bhp
19,Mercedes-Benz New C-Class C 220 CDI BE Avantgare,Bangalore,2014,78500,Diesel,Automatic,First,14.84 kmpl,2143 CC,167.62 bhp,5.0,NaN,28.00,14.84,kmpl,2143,CC,167.62,bhp
20,BMW 3 Series 320d,Kochi,2014,32982,Diesel,Automatic,First,22.69 kmpl,1995 CC,190 bhp,5.0,47.87 Lakh,18.55,22.69,kmpl,1995,CC,190.00,bhp
21,Maruti S Cross DDiS 200 Alpha,Bangalore,2015,55392,Diesel,Manual,Second,23.65 kmpl,1248 CC,88.5 bhp,5.0,NaN,8.25,23.65,kmpl,1248,CC,88.50,bhp
22,Audi A6 2011-2015 35 TFSI Technology,Mumbai,2015,55985,Petrol,Automatic,First,13.53 kmpl,1984 CC,177.01 bhp,5.0,NaN,23.50,13.53,kmpl,1984,CC,177.01,bhp
23,Hyundai i20 1.2 Magna,Kolkata,2010,45807,Petrol,Manual,First,18.5 kmpl,1197 CC,80 bhp,5.0,NaN,1.87,18.50,kmpl,1197,CC,80.00,bhp
24,Volkswagen Vento Petrol Highline AT,Kolkata,2010,33000,Petrol,Automatic,First,14.4 kmpl,1598 CC,103.6 bhp,5.0,NaN,2.85,14.40,kmpl,1598,CC,103.60,bhp
25,Honda City Corporate Edition,Mumbai,2012,51920,Petrol,Manual,First,16.8 kmpl,1497 CC,116.3 bhp,5.0,NaN,4.25,16.80,kmpl,1497,CC,116.30,bhp
26,Nissan Micra Diesel XV,Hyderabad,2012,54000,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,4.25,23.08,kmpl,1461,CC,63.10,bhp
27,Maruti Alto K10 2010-2014 VXI,Hyderabad,2013,54000,Petrol,Manual,Second,20.92 kmpl,998 CC,67.1 bhp,5.0,NaN,2.75,20.92,kmpl,998,CC,67.10,bhp
28,Honda WRV i-VTEC VX,Kochi,2018,37430,Petrol,Manual,First,17.5 kmpl,1199 CC,88.7 bhp,5.0,10.57 Lakh,9.90,17.50,kmpl,1199,CC,88.70,bhp
29,Toyota Innova 2.5 V Diesel 7-seater,Mumbai,2007,262000,Diesel,Manual,Fourth & Above,12.8 kmpl,2494 CC,102 bhp,7.0,NaN,4.00,12.80,kmpl,2494,CC,102.00,bhp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,Porsche Cayenne 2009-2014 Turbo,Mumbai,2008,73000,Petrol,Automatic,First,8.5 kmpl,4806 CC,500 bhp,5.0,NaN,14.50,8.50,kmpl,4806,CC,500.00,bhp
71,Mahindra XUV500 W8 4WD,Mumbai,2015,55729,Diesel,Manual,First,15.1 kmpl,2179 CC,140 bhp,7.0,NaN,9.65,15.10,kmpl,2179,CC,140.00,bhp
72,Hyundai i10 Sportz 1.2 AT,Kochi,2012,45178,Petrol,Automatic,First,16.95 kmpl,1197 CC,78.9 bhp,5.0,NaN,3.48,16.95,kmpl,1197,CC,78.90,bhp
73,Nissan Terrano XV D Pre,Kochi,2015,56066,Diesel,Manual,First,19.64 kmpl,1461 CC,108.5 bhp,5.0,16.65 Lakh,6.92,19.64,kmpl,1461,CC,108.50,bhp
74,Honda Brio VX AT,Coimbatore,2016,37300,Petrol,Automatic,Second,16.5 kmpl,1198 CC,86.8 bhp,5.0,NaN,6.46,16.50,kmpl,1198,CC,86.80,bhp
75,Audi A6 2.0 TDI Design Edition,Delhi,2014,56000,Diesel,Automatic,Second,18.53 kmpl,1968 CC,187.74 bhp,5.0,NaN,29.50,18.53,kmpl,1968,CC,187.74,bhp
76,0,0,0,0,0,0,0,0,0,0,0.0,0,0.00,0.00,0,0,0,0.00,0
77,Toyota Innova 2.0 G1,Chennai,2006,230000,Petrol,Manual,Third,12.4 kmpl,1998 CC,132 bhp,8.0,NaN,4.50,12.40,kmpl,1998,CC,132.00,bhp
78,Toyota Innova 2.5 VX 7 STR BSIV,Hyderabad,2012,104000,Diesel,Manual,First,12.8 kmpl,2494 CC,102 bhp,7.0,NaN,11.75,12.80,kmpl,2494,CC,102.00,bhp
79,0,0,0,0,0,0,0,0,0,0,0.0,0,0.00,0.00,0,0,0,0.00,0
80,Maruti Swift VDI,Jaipur,2012,95100,Diesel,Manual,First,22.9 kmpl,1248 CC,74 bhp,5.0,NaN,3.75,22.90,kmpl,1248,CC,74.00,bhp
81,Tata Zest Revotron 1.2T XE,Pune,2017,70000,Petrol,Manual,First,17.57 kmpl,1193 CC,88.7 bhp,5.0,6.67 Lakh,4.50,17.57,kmpl,1193,CC,88.70,bhp
82,Honda Amaze SX i-VTEC,Kochi,2016,54944,Petrol,Manual,First,18.0 kmpl,1198 CC,86.7 bhp,5.0,NaN,4.82,18.00,kmpl,1198,CC,86.70,bhp
83,Ford Figo Diesel ZXI,Hyderabad,2012,70337,Diesel,Manual,First,20.0 kmpl,1399 CC,68 bhp,5.0,NaN,2.80,20.00,kmpl,1399,CC,68.00,bhp
84,Maruti Ritz VDi,Jaipur,2013,99638,Diesel,Manual,First,23.2 kmpl,1248 CC,73.94 bhp,5.0,NaN,3.11,23.20,kmpl,1248,CC,73.94,bhp
85,Honda City i VTEC E,Delhi,2009,52000,Petrol,Manual,First,17.8 kmpl,1497 CC,117.3 bhp,5.0,NaN,3.25,17.80,kmpl,1497,CC,117.30,bhp
86,BMW 5 Series 2003-2012 525d,Delhi,2011,75000,Diesel,Automatic,Second,16.73 kmpl,1995 CC,218 bhp,5.0,NaN,13.90,16.73,kmpl,1995,CC,218.00,bhp
87,Hyundai i10 Sportz 1.2,Pune,2009,95980,Petrol,Manual,First,20.36 kmpl,1197 CC,78.9 bhp,5.0,NaN,2.25,20.36,kmpl,1197,CC,78.90,bhp
88,Hyundai Grand i10 Sportz,Bangalore,2016,16000,Petrol,Manual,First,18.9 kmpl,1197 CC,82 bhp,5.0,NaN,5.75,18.90,kmpl,1197,CC,82.00,bhp
89,0,0,0,0,0,0,0,0,0,0,0.0,0,0.00,0.00,0,0,0,0.00,0
90,Honda Amaze SX i-VTEC,Mumbai,2016,18949,Petrol,Manual,First,17.8 kmpl,1198 CC,86.7 bhp,5.0,NaN,5.00,17.80,kmpl,1198,CC,86.70,bhp
91,Toyota Fortuner 4x2 Manual,Delhi,2014,107000,Diesel,Manual,First,13.0 kmpl,2982 CC,168.5 bhp,7.0,NaN,16.50,13.00,kmpl,2982,CC,168.50,bhp
92,Audi A6 2011-2015 35 TDI Premium,Coimbatore,2018,48367,Diesel,Automatic,First,17.68 kmpl,1968 CC,174.33 bhp,5.0,NaN,39.58,17.68,kmpl,1968,CC,174.33,bhp
93,Ford Ecosport 1.5 DV5 MT Titanium Optional,Delhi,2013,57000,Diesel,Manual,First,22.7 kmpl,1498 CC,89.84 bhp,5.0,NaN,5.50,22.70,kmpl,1498,CC,89.84,bhp
94,Mahindra XUV500 W8 2WD,Delhi,2014,58000,Diesel,Manual,First,15.1 kmpl,2179 CC,140 bhp,7.0,NaN,8.10,15.10,kmpl,2179,CC,140.00,bhp
95,Honda Amaze SX i-DTEC,Kolkata,2015,30000,Diesel,Manual,First,25.8 kmpl,1498 CC,98.6 bhp,5.0,NaN,3.50,25.80,kmpl,1498,CC,98.60,bhp
96,Volkswagen Polo Diesel Highline 1.2L,Kolkata,2013,34212,Diesel,Manual,First,22.07 kmpl,1199 CC,73.9 bhp,5.0,NaN,2.79,22.07,kmpl,1199,CC,73.90,bhp
97,Hyundai Verna Transform SX VGT CRDi,Ahmedabad,2010,70002,Diesel,Manual,First,16.2 kmpl,1493 CC,110 bhp,5.0,NaN,3.45,16.20,kmpl,1493,CC,110.00,bhp
98,Maruti Wagon R VXI BS IV,Bangalore,2016,62000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,4.45,18.90,kmpl,998,CC,67.10,bhp
99,Volkswagen Polo Petrol Highline 1.6L,Delhi,2010,62001,Petrol,Manual,First,15.26 kmpl,1598 CC,103.5 bhp,5.0,NaN,2.65,15.26,kmpl,1598,CC,103.50,bhp

In [147]:
cars[['Brand']] = cars.Name.str.split(' ',expand = True)[0]
cars[['Model']] = cars.Name.str.split(' ',expand = True)[1]

In [148]:
cars

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,...,New_Price,Price,Mil,Mil_scl,Eng,Eng_scl,Pwr,Pwr_scl,Brand,Model
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,...,NaN,1.75,26.6,km/kg,998,CC,58.16,bhp,Maruti,Wagon
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,...,NaN,12.50,19.67,kmpl,1582,CC,126.20,bhp,Hyundai,Creta
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,...,8.61 Lakh,4.50,18.2,kmpl,1199,CC,88.70,bhp,Honda,Jazz
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,...,NaN,6.00,20.77,kmpl,1248,CC,88.76,bhp,Maruti,Ertiga
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,...,NaN,17.74,15.2,kmpl,1968,CC,140.80,bhp,Audi,A4
5,Hyundai EON LPG Era Plus Option,Hyderabad,2012,75000,LPG,Manual,First,21.1 km/kg,814 CC,55.2 bhp,...,NaN,2.35,21.1,km/kg,814,CC,55.20,bhp,Hyundai,EON
6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,...,NaN,3.50,23.08,kmpl,1461,CC,63.10,bhp,Nissan,Micra
7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36 kmpl,2755 CC,171.5 bhp,...,21 Lakh,17.50,11.36,kmpl,2755,CC,171.50,bhp,Toyota,Innova
8,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,...,NaN,5.20,20.54,kmpl,1598,CC,103.60,bhp,Volkswagen,Vento
9,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,Diesel,Manual,Second,22.3 kmpl,1248 CC,74 bhp,...,NaN,1.95,22.3,kmpl,1248,CC,74.00,bhp,Tata,Indica
10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56 kmpl,1462 CC,103.25 bhp,...,10.65 Lakh,9.95,21.56,kmpl,1462,CC,103.25,bhp,Maruti,Ciaz
11,Honda City 1.5 V AT Sunroof,Kolkata,2012,60000,Petrol,Automatic,First,16.8 kmpl,1497 CC,116.3 bhp,...,NaN,4.49,16.8,kmpl,1497,CC,116.30,bhp,Honda,City
12,Maruti Swift VDI BSIV,Jaipur,2015,64424,Diesel,Manual,First,25.2 kmpl,1248 CC,74 bhp,...,NaN,5.60,25.2,kmpl,1248,CC,74.00,bhp,Maruti,Swift
13,Land Rover Range Rover 2.2L Pure,Delhi,2014,72000,Diesel,Automatic,First,12.7 kmpl,2179 CC,187.7 bhp,...,NaN,27.00,12.7,kmpl,2179,CC,187.70,bhp,Land,Rover
14,Land Rover Freelander 2 TD4 SE,Pune,2012,85000,Diesel,Automatic,Second,0.0 kmpl,2179 CC,115 bhp,...,NaN,17.50,0.0,kmpl,2179,CC,115.00,bhp,Land,Rover
15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,Diesel,Manual,First,13.5 kmpl,2477 CC,175.56 bhp,...,32.01 Lakh,15.00,13.5,kmpl,2477,CC,175.56,bhp,Mitsubishi,Pajero
16,Honda Amaze S i-Dtech,Kochi,2016,58950,Diesel,Manual,First,25.8 kmpl,1498 CC,98.6 bhp,...,NaN,5.40,25.8,kmpl,1498,CC,98.60,bhp,Honda,Amaze
17,Maruti Swift DDiS VDI,Jaipur,2017,25000,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,...,NaN,5.99,28.4,kmpl,1248,CC,74.00,bhp,Maruti,Swift
18,Renault Duster 85PS Diesel RxL Plus,Kochi,2014,77469,Diesel,Manual,First,20.45 kmpl,1461 CC,83.8 bhp,...,NaN,6.34,20.45,kmpl,1461,CC,83.80,bhp,Renault,Duster
19,Mercedes-Benz New C-Class C 220 CDI BE Avantgare,Bangalore,2014,78500,Diesel,Automatic,First,14.84 kmpl,2143 CC,167.62 bhp,...,NaN,28.00,14.84,kmpl,2143,CC,167.62,bhp,Mercedes-Benz,New
20,BMW 3 Series 320d,Kochi,2014,32982,Diesel,Automatic,First,22.69 kmpl,1995 CC,190 bhp,...,47.87 Lakh,18.55,22.69,kmpl,1995,CC,190.00,bhp,BMW,3
21,Maruti S Cross DDiS 200 Alpha,Bangalore,2015,55392,Diesel,Manual,Second,23.65 kmpl,1248 CC,88.5 bhp,...,NaN,8.25,23.65,kmpl,1248,CC,88.50,bhp,Maruti,S
22,Audi A6 2011-2015 35 TFSI Technology,Mumbai,2015,55985,Petrol,Automatic,First,13.53 kmpl,1984 CC,177.01 bhp,...,NaN,23.50,13.53,kmpl,1984,CC,177.01,bhp,Audi,A6
23,Hyundai i20 1.2 Magna,Kolkata,2010,45807,Petrol,Manual,First,18.5 kmpl,1197 CC,80 bhp,...,NaN,1.87,18.5,kmpl,1197,CC,80.00,bhp,Hyundai,i20
24,Volkswagen Vento Petrol Highline AT,Kolkata,2010,33000,Petrol,Automatic,First,14.4 kmpl,1598 CC,103.6 bhp,...,NaN,2.85,14.4,kmpl,1598,CC,103.60,bhp,Volkswagen,Vento
25,Honda City Corporate Edition,Mumbai,2012,51920,Petrol,Manual,First,16.8 kmpl,1497 CC,116.3 bhp,...,NaN,4.25,16.8,kmpl,1497,CC,116.30,bhp,Honda,City
26,Nissan Micra Diesel XV,Hyderabad,2012,54000,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,...,NaN,4.25,23.08,kmpl,1461,CC,63.10,bhp,Nissan,Micra
27,Maruti Alto K10 2010-2014 VXI,Hyderabad,2013,54000,Petrol,Manual,Second,20.92 kmpl,998 CC,67.1 bhp,...,NaN,2.75,20.92,kmpl,998,CC,67.10,bhp,Maruti,Alto
28,Honda WRV i-VTEC VX,Kochi,2018,37430,Petrol,Manual,First,17.5 kmpl,1199 CC,88.7 bhp,...,10.57 Lakh,9.90,17.5,kmpl,1199,CC,88.70,bhp,Honda,WRV
29,Toyota Innova 2.5 V Diesel 7-seater,Mumbai,2007,262000,Diesel,Manual,Fourth & Above,12.8 kmpl,2494 CC,102 bhp,...,NaN,4.00,12.8,kmpl,2494,CC,102.00,bhp,Toyota,Innova
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5989,Audi A4 35 TDI Premium Plus,Coimbatore,2013,58629,Diesel,Automatic,Second,18.25 kmpl,1968 CC,187.74 bhp,...,53.14 Lakh,16.52,18.25,kmpl,1968,CC,187.74,bhp,Audi,A4
5990,Tata New Safari DICOR 2.2 VX 4x2,Pune,2008,86000,Diesel,Manual,Third,13.93 kmpl,2179 CC,138 bhp,...,NaN,0.60,13.93,kmpl,2179,CC,138.00,bhp,Tata,New
5991,Maruti Swift VDI,Hyderabad,2012,68238,Diesel,Manual,First,22.9 kmpl,1248 CC,74 bhp,...,NaN,4.80,22.9,kmpl,1248,CC,74.00,bhp,Maruti,Swift
5992,Skoda Superb Elegance 1.8 TSI AT,Mumbai,2011,42036,Petrol,Automatic,First,13.7 kmpl,1798 CC,157.75 bhp,...,NaN,6.25,13.7,kmpl,1798,CC,157.75,bhp,Skoda,Superb
5993,Hyundai Elantra SX,Mumbai,2014,55619,Petrol,Manual,First,16.3 kmpl,1797 CC,147.5 bhp,...,NaN,8.30,16.3,kmpl,1797,CC,147.50,bhp,Hyundai,Elantra
5994,Honda City 1.5 E MT,Pune,2009,60000,Petrol,Manual,Third,17.0 kmpl,1497 CC,118 bhp,...,NaN,3.25,17.0,kmpl,1497,CC,118.00,bhp,Honda,City
5995,Renault Duster 85PS Diesel RxL Explore,Pune,2015,30000,Diesel,Manual,First,19.87 kmpl,1461 CC,83.8 bhp,...,NaN,7.75,19.87,kmpl,1461,CC,83.80,bhp,Renault,Duster
5996,Jaguar XF 2.2 Litre Luxury,Kochi,2016,31150,Diesel,Automatic,First,16.36 kmpl,2179 CC,187.7 bhp,...,NaN,30.54,16.36,kmpl,2179,CC,187.70,bhp,Jaguar,XF
5997,Maruti Wagon R Duo Lxi,Jaipur,2010,70000,LPG,Manual,First,26.2 km/kg,998 CC,58.2 bhp,...,NaN,2.27,26.2,km/kg,998,CC,58.20,bhp,Maruti,Wagon
5998,Volkswagen Polo IPL II 1.2 Petrol Highline,Pune,2010,70290,Petrol,Manual,Second,17.24 kmpl,1198 CC,73.9 bhp,...,NaN,2.96,17.24,kmpl,1198,CC,73.90,bhp,Volkswagen,Polo
5999,Tata Bolt Revotron XT,Chennai,2016,10000,Petrol,Manual,First,17.57 kmpl,1193 CC,88.7 bhp,...,7.77 Lakh,4.00,17.57,kmpl,1193,CC,88.70,bhp,Tata,Bolt
6000,Hyundai i20 Sportz 1.2,Bangalore,2014,68010,Petrol,Manual,Second,18.5 kmpl,1197 CC,82.85 bhp,...,NaN,5.25,18.5,kmpl,1197,CC,82.85,bhp,Hyundai,i20
6001,Audi A6 2011-2015 2.0 TDI,Kochi,2013,91903,Diesel,Automatic,First,17.68 kmpl,1968 CC,174.33 bhp,...,NaN,17.56,17.68,kmpl,1968,CC,174.33,bhp,Audi,A6
6002,Volkswagen Vento 1.6 Highline,Mumbai,2011,38000,Petrol,Manual,First,16.09 kmpl,1598 CC,103.5 bhp,...,11.91 Lakh,3.25,16.09,kmpl,1598,CC,103.50,bhp,Volkswagen,Vento
6003,Maruti Celerio VXI,Bangalore,2015,67600,Petrol,Manual,First,23.1 kmpl,998 CC,67.04 bhp,...,NaN,4.00,23.1,kmpl,998,CC,67.04,bhp,Maruti,Celerio
6004,Hyundai Getz GLE,Coimbatore,2007,66800,Petrol,Manual,First,15.3 kmpl,1341 CC,83 bhp,...,NaN,2.20,15.3,kmpl,1341,CC,83.00,bhp,Hyundai,Getz
6005,Maruti Vitara Brezza VDi,Pune,2016,37208,Diesel,Manual,First,24.3 kmpl,1248 CC,88.5 bhp,...,9.93 Lakh,7.43,24.3,kmpl,1248,CC,88.50,bhp,Maruti,Vitara
6006,Mercedes-Benz M-Class ML 320 CDI,Mumbai,2009,102002,Diesel,Automatic,First,8.7 kmpl,2987 CC,224.34 bhp,...,NaN,10.75,8.7,kmpl,2987,CC,224.34,bhp,Mercedes-Benz,M-Class
6007,Maruti Swift Dzire Vdi BSIV,Delhi,2011,68000,Diesel,Manual,First,19.3 kmpl,1248 CC,73.9 bhp,...,NaN,2.75,19.3,kmpl,1248,CC,73.90,bhp,Maruti,Swift
6008,Porsche Panamera Diesel,Hyderabad,2013,40000,Diesel,Automatic,Second,17.85 kmpl,2967 CC,300 bhp,...,NaN,45.00,17.85,kmpl,2967,CC,300.00,bhp,Porsche,Panamera
6009,Toyota Camry Hybrid,Mumbai,2015,33500,Petrol,Automatic,First,19.16 kmpl,2494 CC,158.2 bhp,...,NaN,19.75,19.16,kmpl,2494,CC,158.20,bhp,Toyota,Camry
6010,Honda Brio 1.2 VX MT,Delhi,2013,33746,Petrol,Manual,First,18.5 kmpl,1198 CC,86.8 bhp,...,6.63 Lakh,3.20,18.5,kmpl,1198,CC,86.80,bhp,Honda,Brio
6011,Skoda Superb 3.6 V6 FSI,Hyderabad,2009,53000,Petrol,Automatic,First,0.0 kmpl,3597 CC,262.6 bhp,...,NaN,4.75,0.0,kmpl,3597,CC,262.60,bhp,Skoda,Superb
6012,Toyota Innova 2.5 V Diesel 7-seater,Coimbatore,2011,45004,Diesel,Manual,First,12.8 kmpl,2494 CC,102 bhp,...,NaN,9.48,12.8,kmpl,2494,CC,102.00,bhp,Toyota,Innova
6013,Honda Amaze VX i-DTEC,Coimbatore,2015,70602,Diesel,Manual,First,25.8 kmpl,1498 CC,98.6 bhp,...,NaN,4.83,25.8,kmpl,1498,CC,98.60,bhp,Honda,Amaze
6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,...,7.88 Lakh,4.75,28.4,kmpl,1248,CC,74.00,bhp,Maruti,Swift
6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,...,NaN,4.00,24.4,kmpl,1120,CC,71.00,bhp,Hyundai,Xcent
6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,...,NaN,2.90,14.0,kmpl,2498,CC,112.00,bhp,Mahindra,Xylo
6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,...,NaN,2.65,18.9,kmpl,998,CC,67.10,bhp,Maruti,Wagon
6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,...,NaN,2.50,25.44,kmpl,936,CC,57.60,bhp,Chevrolet,Beat

In [136]:
cars.Brand.value_counts()

Maruti           1186
Hyundai          1065
Honda             607
Toyota            396
Mercedes-Benz     316
Volkswagen        314
Ford              295
Mahindra          269
BMW               267
Audi              235
Tata              183
Skoda             172
Renault           145
Chevrolet         120
Nissan             89
Land               60
Jaguar             40
Mitsubishi         27
Mini               26
Fiat               26
Volvo              21
Porsche            16
Jeep               15
Datsun             13
Force               3
ISUZU               2
Ambassador          1
Bentley             1
Lamborghini         1
Isuzu               1
Name: Brand, dtype: int64

In [149]:
cars.Model.value_counts()

Swift          337
City           270
i20            247
Verna          170
Innova         164
Grand          156
i10            156
Wagon          154
Polo           151
Alto           143
XUV500         113
Vento          107
Amaze          106
New            102
Fortuner       101
Figo           101
3               98
Creta           93
E-Class         86
Duster          83
A4              77
Ertiga          75
Ciaz            71
Corolla         68
5               68
Ritz            64
EON             61
Baleno          61
Scorpio         61
Brio            60
              ...
Outlander        2
Qualis           2
D-MAX            2
Classic          2
SLC              2
Tavera           2
Clubman          1
Montero          1
E                1
Boxster          1
Versa            1
Teana            1
WR-V             1
MUX              1
Redi             1
Gallardo         1
XUV300           1
Tiguan           1
CLS-Class        1
Platinum         1
Continental      1
Countryman       1
Beetle           1
SL-Class         1
F                1
Fusion           1
Venture          1
Evalia           1
Prius            1
Mustang          1
Name: Model, Length: 205, dtype: int64

In [127]:
cars[['Mil', 'Mil_scl']] = cars.Mileage.str.split(' ',  expand = True)

In [150]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 21 columns):
Name                 6019 non-null object
Location             6019 non-null object
Year                 6019 non-null int64
Kilometers_Driven    6019 non-null int64
Fuel_Type            6019 non-null object
Transmission         6019 non-null object
Owner_Type           6019 non-null object
Mileage              6017 non-null object
Engine               5983 non-null object
Power                5983 non-null object
Seats                5981 non-null float64
New_Price            931 non-null object
Price                6019 non-null float64
Mil                  5910 non-null object
Mil_scl              5910 non-null object
Eng                  6019 non-null int32
Eng_scl              5983 non-null object
Pwr                  6019 non-null float64
Pwr_scl              5983 non-null object
Brand                5912 non-null object
Model                5912 non-null object
dtypes: float64(3), int32(1), int64(2), object(15)
memory usage: 611.3+ KB

In [200]:
j=0
for x in cars['Eng']:
    if x == 0:
        x = cars[(cars.Brand == cars.iloc[j]['Brand']) & (cars.Model == cars.iloc[j]['Model'])]['Eng'].mean()
        j = j+1
    else:
        x

AttributeError: 'DataFrame' object has no attribute 'Brand'

In [166]:
cars.iloc[0]['Name']

'Maruti Wagon R LXI CNG'

In [199]:
cars.isna().sum()

Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5088
Price                   0
Mil                     2
Mil_scl                 2
Eng                    36
Eng_scl                36
Pwr                    36
Pwr_scl                36
dtype: int64